<h1>
    Google profile
</h1>
<p>Name: <%=contact.firstname %> <%=contact.lastname%></p>
<p>phoneNumber: <%=contact.phoneNumber %></p>
<p>Email: <%=contact.email %></p>
<p>Birthdate: <%=contact.birthdate %></p>